doctype html
head
  meta(charset='UTF-8')
  meta(property='og:title', content='SOON – ' + title)
  meta(property='og:description', content=description)
  meta(property='og:image', content=avatar)

  title SOON - #{title}
  link(href='https://fonts.googleapis.com/css?family=Gothic+A1',rel='stylesheet')
  style
    include main.css
    include collection.css
  body
    header
      h1
        img(src='http://soonforever.co/assets/img/soon-w.png', width=106)
      .avatar(style='background-image:url(' + avatar + '); background-size: cover;')
    main
      h2 #{title}
      .items
        each item, i in items
          .item
            .cover(style='background-image:url(' + item.cover + '); background-size: cover;')
            .content
              .title= item.name
    footer
      div
        a.button(href='https://itunes.apple.com/app/id939751975')
          img(src='http://soonforever.co/assets/img/header/appstore.png', height=42)
      div
        a(href='http://soonforever.co/') Go to soonforever.co
