doctype html
head
  meta(charset='UTF-8')
  meta(property='og:title', content='SOON – ' + title)
  meta(property='og:description', content=description)
  meta(property='og:image', content=avatar)

  title SOON - #{title}
  style
    include main.css
    include collection.css
  body
    header(style='background:url(' + mainCover + '); background-size: cover;')
      .content.wrapper
        h1 #{title}
        p #{description}
        .author
          if author
            .name
              .circleLogo
                img(src='http://soonforever.co/assets/img/soon-w.png', width=30)
              span Selected by
              strong!= ' ' + author
            button.button.primary.follow Follow
          else if authorReplacer
            .name
              .circleLogo
                img(src='http://soonforever.co/assets/img/soon-w.png', width=30)
              span #{authorReplacer}
      .overlay
    main.wrapper
      .items
        each item, i in items
          .item
            .cover(style='background-image:url(' + item.cover + '); background-size: cover;')
            .content
              .title= item.name
              //- .description A short description about this item
            .actions
              button.button.secondary Add +
    footer
      include download-app-banner.pug
